@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

canvas {
    width:1000px !important;
    height:600px !important;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}